extends ../layout

block content 
    h1 Update Course
    form(action="/courses/update/"+course._id, method="post")
        .form-group
            .w-50
                label(for="course_name") Course Name
                input#course_name(type="text", class="form-control", name="course_name" value=course.course_name)
        .form-group
            .w-50
                label(for="course_id") Course ID
                input#course_name(type="text", class="form-control", name="course_id" value=course.course_id)
        .form-group
            .w-50
                label(for="course_duration") Course Duration
                input#course_duration(type="text", class="form-control", name="course_duration" value=course.course_duration)
        .form-group
            .w-50
                label(for="course_fee") Course Fee
                input#course_duration(type="number", class="form-control", name="course_fee" value=course.course_fee)
                
        input(type="submit", class="btn btn-primary" value="Update")

    